# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/shopizer

# RabbitMQ
SPRING_RABBITMQ_HOST=rabbitmq

# Keycloak
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=shopizer
KEYCLOAK_CLIENT_SECRET=4wZTls76AT55HxJM7crj4lVwJSGMu5lr


# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_ENDPOINT=http://localhost:9000