<configuration>
    <springProfile name="default">
        <appender name="CONSOLE"
                  class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} : %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>
    <springProfile name="dev">
        <appender name="JSON_STDOUT"
                  class="ch.qos.logback.core.ConsoleAppender">

            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>
                    {"service":"user-service"}
                </customFields>
            </encoder>

        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_STDOUT"/>
        </root>
    </springProfile>
</configuration>
